.flexcontainer {
    display: flex;
    flex-direction: column;
    height: 19.2rem;
    border: 4px solid #316B83;
    border-radius: 6px;
    width: 16rem;
    margin: 0.5rem;
}

.title {
    font-weight: bold;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: larger;
    color: #E6E6E6;
}

.image {
    width: 100%;
    height: 8rem;
}

.genres {
    display: flex;
    justify-content: space-around;
    padding: 0.6rem;
    padding-bottom: 0.8rem;
    color: #E6E6E6;
    font-size: 12px;
    font-weight: 600;
}


.rating {
    /* border: 2px solid #316B83; */
    border-radius: 5px;
    width: 2rem;
    display: flex;
    align-self: center;
    padding: 0.2rem;
    color: #316B83;
    background-color:#E6E6E6;
    font-size: 12px;
    justify-content: center;
}

.divlink {
    padding: 0.6rem;
    margin-top: 0.2rem;
}

.link {
    color: #E6E6E6;
}
