.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #316B83;
    background-color: #316B83;
    padding: 15px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: #E6E6E6;
    font-style: italic;
    margin-left: 1rem;
}

.button {
    border-radius: 6px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 2.5px solid #316B83;
    background-color: #E6E6E6;
    color: #316B83;
    font-size: 14px;
    font-weight: 600;
    margin-right: 1rem;
    cursor: pointer;
}

.filterorder {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 0.5rem;
}

.buttonReset {
    border-radius: 5px;
    padding: 8px;
    border: 3px solid #316B83;
    color: #E6E6E6;
    font-weight: 600;
    background-color: #2C394B;
    margin-left: 2rem;
    margin-right: 2rem;
}

