.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formcontainer {
    display: flex;
    align-self: center;
}

.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    flex-direction: column;
    border-radius: 5px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2px;
    padding-bottom: 4px;
    border: 3px solid #E6E6E6;
    color: #E6E6E6;
    font-weight: 600;
    background-color: #316B83;
    margin-top: 2rem;
    border-radius: 6px;
    }

    .formInput {
        margin: 1rem;
        border-radius: 4px;
        background-color: #E6E6E6;
        color: #316B83;
        padding: 6px;
    }

    .textarea {
        margin: 1rem;
        border-radius: 4px;
        background-color: #E6E6E6;
        color: #316B83;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 3rem;
        padding-top: 4px;
    }

    .genrePlatforms {
        margin: 1rem;
        padding: 6x;
    }
    
    .select {
        background-color: #E6E6E6;
        color: #316B83;
        padding:6px;
        border-radius: 4px;
    }

    .button {
        display: flex;
        margin-top: 2rem;
        border-radius: 5px;
        padding: 10px;
        border: 3px solid #316B83;
        color: #316B83;
        font-weight: 600;
        background-color: #8CA1A5;
        font-size: 16px;
        margin-left: 2rem;
    }
    
    .button2 {
        display: flex;
        border-radius: 6px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 9px;
        padding-bottom: 9px;
        border: 2.5px solid #316B83;
        background-color: #E6E6E6;
        color: #316B83;
        font-size: 14px;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .buttonSection {
        align-self: center;
    }

    .error {
        color: #E02401;
        display: flex;
        font-size: 14px;
        justify-content: center;
    }

    .choices {
        font-size: 12px;
    }

    .buttonDelete {
        font-size: 10px;
        border: 3px solid #316B83;
        background-color: #E6E6E6;
        border-radius: 20%;
        color: #316B83;
        font-weight: 600;
    }
