.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formcontainer {
    display: flex;
    align-self: center;
}

.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    flex-direction: column;
    border-radius: 5px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2px;
    padding-bottom: 4px;
    border: 3px solid #E6E6E6;
    color: #E6E6E6;
    font-weight: 600;
    background-color: #316B83;
    margin-top: 2rem;
    border-radius: 6px;
    }

    .formInput {
        margin: 0.5rem;
        border-radius: 4px;
        background-color: #E6E6E6;
        color: #316B83;
        padding: 6px;
    }

    .formDate {
        margin: 0.5rem;
        margin-bottom: 1rem;
        border-radius: 4px;
        background-color: #E6E6E6;
        color: #316B83;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 1.2rem;
        padding-right: 1.2rem;

    }

    .textarea {
        border-radius: 4px;
        background-color: #E6E6E6;
        color: #316B83;
        padding-top: 1rem;
        padding-bottom: 5rem;
        padding-left: 1rem;
        padding-right: 7rem;
    }

    .genrePlatforms {
        margin: 0.25rem;
        padding: 6px;
    }
    
    .select {
        background-color: #E6E6E6;
        color: #316B83;
        padding:6px;
        border-radius: 4px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 3px solid #316B83;
        background-color: #316B83;
        padding: 15px;
    }
    
    .title1 {
        font-size: 18px;
        font-weight: 600;
        color: #E6E6E6;
        font-style: italic;
        margin-left: 1rem;
    }
    
    .button {
        border-radius: 6px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 9px;
        padding-bottom: 9px;
        border: 2.5px solid #316B83;
        background-color: #E6E6E6;
        color: #316B83;
        font-size: 14px;
        font-weight: 600;
        margin-right: 1rem;
        cursor: pointer;
    }

    .link {
        text-decoration: none;
    }
    
    .button2 {
        display: flex;
        border-radius: 6px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 9px;
        padding-bottom: 9px;
        border: 2.5px solid #316B83;
        background-color: #E6E6E6;
        color: #316B83;
        font-size: 14px;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }
    .buttonSection {
        align-self: center;
    }

    .error {
        color: tomato;
        display: flex;
        font-size: 14px;
        justify-content: center;
    }

    .choices {
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: center;
    }

    .buttonDelete {
        font-size: 10px;
        border: 3px solid #316B83;
        background-color: #E6E6E6;
        border-radius: 20%;
        color: #316B83;
        font-weight: 600;
        cursor: pointer;
    }
