.container {
    color: #316B83;
    margin: 2rem;
}

.button {
    display: flex;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 10px;
    border: 3px solid #316B83;
    color: #316B83;
    font-weight: 600;
    background-color: #8CA1A5;
    font-size: 16px;
}

.title {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color: #8CA1A5;
}

.image {
    width: 50%;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.bold {
    font-weight: 600;
}

.description {
    font-style: italic;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    color: #8CA1A5;
}

.genres {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    justify-content: center;
}

.genre {
    border-radius: 6px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 2.5px solid #316B83;
    background-color:#E6E6E6;
    color: #316B83;
    font-size: 14px;
    font-weight: 600;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.platforms {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.platform {
    border-radius: 6px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 2.5px solid #316B83;
    background-color:#316B83;
    color: #E6E6E6;
    font-size: 14px;
    font-weight: 600;
    margin: 4px;
}