.container {
    border-radius: 6px;
    background-color: #316B83;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

.searchbar {
    border-radius: 6px;
    border: 2.5px solid #316B83;
    margin-right: 1px;
    background: #E6E6E6;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

.button {
    border-radius: 6px;
    border: 2.5px solid #316B83;
    background: #E6E6E6;
    color: #316B83;
    font-weight: 600;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

 