.pages {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #2C394B;
    border-radius: 10px;
    padding: 8px;
    /* border: 2px solid #316B83; */
}

.pagina {
    font-size: 20px;
    border: 3px solid #316B83;
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 8px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #2C394B;
    color: #E6E6E6;
    font-weight: 400;
}
