.landing {
    background-image: 'https://cdn.dribbble.com/users/1405795/screenshots/10080381/media/ba9508ea0a128e9917a670d90bb821a3.jpg?compress=1&resize=800x600';
}


/* background-image:url('../../images/landingbackground.jpg');
height: 100vh;
width: 100%;
background-size: cover;
background-position-x: center;
background-position-y: center;
background-repeat: no-repeat;
background-attachment: fixed; */