.container {
    display: flex;
    color: #316B83;
}

.button {
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 5px;
    padding: 9px;
    border: 3px solid #316B83;
    color: #316B83;
    font-weight: 600;
    background-color: #8CA1A5;
}

.title {
    padding-top: 5rem;
    padding-bottom: 0.2rem;
}

.image {
    width: 50%;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.bold {
    font-weight: 600;
}
