.flexcontainer {
    display: flex;
    flex-direction: column;
    height: 20rem;
    border: 4px solid #316B83;
    border-radius: 6px;
    width: 17rem;
    margin: 0.5rem;
    /* background-color: #D5BFBF; */
}

.title {
    font-weight: bold;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: larger;
}

.image {
    width: 100%;
    height: 10rem;
}

.genres {
    display: flex;
    justify-content: space-around;
    padding: 0.6rem;
    padding-bottom: 0.8rem;
}

.rating {
    border: 2px solid #6D8299;
    width: 2rem;
    display: flex;
    align-self: center;
    padding: 0.2rem;
    background-color: #316B83
}

.divlink {
    padding: 0.6rem;
    background-color: #8CA1A5 ;
}

.divlink {
    color: black;
}

/* <div className={s.flexContainer}>
<span>{name}</span>
<div>
    <img className={s.image} src={image} alt="VideogameImage" />
</div>
<div>
    {genres.map(genre => <span key={genre} >{genre}</span>)}
</div>
<div>{rating}</div> 
 <Link to={`/${id}`}>Click for more details</Link>
</div> */